<div class="fluid-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
           
                <a class="navbar-brand logo" href="#">Raggio <span>EventPlan &reg;</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="right-nav collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                          <a routerLink="/home"  routerLinkActive="active" class="nav-item nav-link active">Home <span class="sr-only">(current)</span></a>
                          <a routerLink="/locations"  routerLinkActive="active"  class="nav-item nav-link">Locations</a>
                          <a routerLink="/events"  routerLinkActive="active" class="nav-item nav-link btn btn-primary btn-primary-outline">Events</a>
                        </div>
                </div>
        </nav>
    <div class="row top">
            <div class="book-event-div col-md-12">
                    <div class="col-md-4 block left">
                     
                    </div>
                    <div class="col-md-4 block center">
                            <app-modal-event></app-modal-event>
                    </div>
                    <div class="col-md-4 block right">
                     
                    </div>
            </div>
                  
          
   
    </div>
    <div class="app-row middle">
            <div class="app-column middle">
                <section>
                    <header class="section-header">
                      Book your events in a jiffy
                    </header>
                    <div  class="about-text">
                     Have your events done very fast.
                     Have your events done very fast.
                     Have your events done very fast.
                    
                    </div>
                    <footer>

                    </footer>
                </section>
            </div>
            <div class="app-column middle mid-section">
                    <section class="mid-section">
                            <header class="section-header">
                             Powered By the MEAN Stack
                            </header>
                            <div class="about-text">
                             Powered by the most cutting edge
                             open source tools. Powered by BootStrap,
                             Angular7, GraphQL, Node.js, Express, MongoDB
                             and Mongose.
                            </div>
                            <footer>
                                
                            </footer>
                        </section>
            </div>
            <div class="app-column middle"> <section>
                    <header class="section-header">
                      View all Events Using Google Maps
                    </header>
                    <div class="about-text">
                        Powered by Google Maps to give you visual 
                        access to you event locations.  We have you 
                        covered!
                    </div>
                    <footer>
                        
                    </footer>
                </section>
            </div>
    </div>
     <div class="app-row2 app-body">
         <div class="app-body">
                <router-outlet></router-outlet>
         </div>
     </div>
    
</div>

