<ng-template #content let-modal>
       
        <div class="modal-body">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input required matInput [(ngModel)]="title" name="title" placeholder="Name of Event" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="poster" name="poster" readonly="readonly" placeholder="Poster" value="raggio@gmailorg.com">
                </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <mat-label>Event Type</mat-label>
                      <mat-select required name="type" [(ngModel)]="type" >
                          <mat-option value="Wedding">Wedding</mat-option>
                          <mat-option value="Footbal Game">Footbal Game</mat-option>
                          <mat-option  value="Concert">Concert</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <textarea required name="description" matInput placeholder="Description" [(ngModel)]="description"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput name="street" [(ngModel)]="street" required placeholder="Street Address & City" value="">
                    </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <mat-label>State</mat-label>
                      <mat-select required name="state" [(ngModel)]="state" >
                          <mat-option value="IL">IL</mat-option>
                          <mat-option value="NY">NY</mat-option>
                          <mat-option value="CA">CA</mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <mat-label>Primary Color</mat-label>
                      <mat-select required name="primary" [(ngModel)]="primary">
                          <mat-option value="Blue">Blue</mat-option>
                          <mat-option value="Red">Red</mat-option>
                          <mat-option value="Yellow">Yellow</mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <mat-label>Secondary Color</mat-label>
                      <mat-select required name="secondary"  [(ngModel)]="secondary">
                          <mat-option value="Blue">Blue</mat-option>
                          <mat-option value="Red">Red</mat-option>
                          <mat-option value="Yellow">Yellow</mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <mat-label>Start Date</mat-label>
                      <input required name="start" matInput [matDatepicker]="startDate" [(ngModel)]="start">
                      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                      <mat-datepicker #startDate></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <mat-label>End Date</mat-label>
                      <input required matInput name="end" [matDatepicker]="endDate" [(ngModel)]="end">
                      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                      <mat-datepicker #endDate></mat-datepicker>
                  </mat-form-field>
                  <div class="modal-footer">
                      <button type="submit" class="btn btn-outline-dark">Save</button>
                      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
                    </div>
              </form>
              
        </div>
        
</ng-template>
<div>
        <button class="nav-item nav-link btn btn-primary btn-primary-outline2" (click)="open(content)">New Event</button>
</div>

