
.modal-body
{
    background-color: black;
    color : white;
    font-family: "Open Sans";
    
}
.modal-footer
{
    background-color: black;
    color : white;
    font-family: "Open Sans";
}
.modal-header
{
    background-color:  #000080;
    color: white;
    font-family: "Open Sans";
    font-size: 20px !important;
    font-weight: bold 40px !important;
    line-height: 1.2 30px !important;
    text-align: left 30px !important;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
   
}