<ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Add New Event</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="title">Name of Event</label>
              <div class="input-group">
                <input id="title" type="text" class="form-control" placeholder="Name of Event" name="dp"/>
               
              </div>
            
              <div class="input-group">
                <input id="poster" type="hidden" class="form-control" placeholder="Poster"/>
               
              </div>
              <label for="type">Type</label>
              <div class="input-group">
                <select id="type" class="form-control">
                    <option value="Wedding">Wedding</option>
                    <option value="Footbal Game">Footbal Game</option>
                    <option value="Concert">Concert</option>
                </select>
               
              </div>
              <label for="description">Description</label>
              <div class="input-group">
                <textarea id="description" class="form-control" placeholder="Description"></textarea>
                
              </div>
              <label for="street">Address</label>
              <div class="input-group">
                <input id="street" class="form-control" placeholder="Street">
              
              </div>
              <label for="state">State</label>
              <div class="input-group">
                    <select id="state" class="form-control">
                        <option value="IL">
                            IL
                        </option>
                        <option value="NY">
                            NY
                        </option>
                       <option value="CA">
                            CA
                        </option>
                    </select>
              </div>
              <label for="primaryColor">Primary Color</label>
              <div class="input-group">
                <select id="primaryColor">
                    <option value="Blue">
                       Blue
                    </option>
                    <option value="Red">
                        Red
                    </option>
                    <option value="Green">
                        Green
                    </option>
                </select>
               
              </div>
              <label for="SecondaryColor">Secondary Color</label>
              <div class="input-group">
                <select id="primaryColor">
                    <option value="Blue">
                       Blue
                    </option>
                    <option value="Red">
                        Red
                    </option>
                    <option value="Green">
                        Green
                    </option>
                </select>
               
              </div>
              <label for="startDate">Start Date</label>
              <div class="input-group">
                <input id="startDate" class="form-control" placeholder="yyyy-mm-dd" name="dpstartDate" ngbDatepicker #dpstartDate="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dpstartDate.toggle()" type="button"></button>
                </div>
              </div>
              <label for="endDate">End Date</label>
              <div class="input-group">
                <input id="endDate" class="form-control" placeholder="yyyy-mm-dd" name="dpendDate" ngbDatepicker #dpendDate="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dpendDate.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
        </div>
</ng-template>
<div>
        <button class="nav-item nav-link btn btn-primary btn-primary-outline2" (click)="open(content)">Book Event</button>
</div>

